body{
	background-color:lightgreen;
}

.calculatedScore{
	border:3px solid black;
	background-color:lightyellow;
	width:290px;
	height:200px;
	margin-left:10px;
	margin-top:30px;
	padding:10px;
}

#computerNumber{
	color:black;
	font-size:40px;
}

button{
	border:transparent;
	background-color:transparent;
	width:100px;
	height:100px;
	margin-left:10px;
	float:left;
}

img{
	border:3px solid black;
}

.crystal-group{
	border:1px transparent;
	height:150px;
	width:500px;
	margin-left:-10px;
}


h1{
	color:black;
	font-size:40px;
	font-weight:bold;
	text-align:center;
}

h2{
	color:black;
	font-size:40px;
	font-weight:bold;
	position:absolute;
}

.instructions{
	background-color:lightyellow;
	border: 3px solid black;
	color:black;
	width:450px;
	height:350px;
	padding:20px 20px 35px 20px;
	margin:30px 10px;
	
}

p{
	color:black;
	font-size:20px;
	letter-spacing:1px;
	line-height:23px;
}

.randomNumber-winsLosses{
	border:1px transparent;
	width:450px;
	height:200px;
}

.random-number{
	background-color:lightyellow;
	border: 3px solid black;
	color:black;
	width:300px;
	height:100px;
	padding:7px;
	float:left;
	margin-left:10px;
}

#replay{
	height:80px;
	width:120px;
	color:black;
	background-color:lightyellow;
	border:3px solid black;
	margin-top:22px;
	margin-left:350px;;
	font-size:25px;

}

.total-score-blank{
	border:3px solid black;
	background-color:lightyellow;
	height:50px;
	width:300px;
	margin-left:10px;
	margin-bottom:10px;
	font-size:24px;
	padding-top:20px;
	padding-left:10px;
	text-align:center;
}

.wins-and-losses{
	background-color:lightyellow;
	border: 3px solid black;
	color:black;
	width:100px;
	height:100px;
	padding:7px;
	float:right;
	font-size:24px;
	margin-right:-55px;
}